/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */
body {
    background-color: rgb(241, 241, 241);
}

svg {
    fill: green;
}

h1 {
    font-size: 110px;
    color: rgb(214, 184, 184);
    margin: 10px 0px;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
}

.container button,
li button {
    height: 60px;
    background-image: url('./asserts/angle-down-solid.svg');
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}

li button {
    box-shadow: none;
    background-image: url('./asserts/circle-regular.svg');
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.inputbox,
input {
    height: 60px;
    width: 400px;
    font-size: 24px;
    font-style: italic;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 4px 0px 4px;

}

.inputbox::placeholder {
    color: rgb(230, 230, 230);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    height: 60px;
    width: 454px;
    font-size: 24px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.last-box {
    background-color: white;
    width: 434px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.mid-box {
    background-color: white;
    width: 444px;
    height: 55px;
    position: relative;
    left: -5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bottomtab {
    background-color: white;
    width: 454px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 454px;
    position: absolute;
    left: -5px;
    /* left: 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.bottomtab p {
    margin-left: 10px;
}

.clear-completed {
    margin-right: 10px;
}